<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->


  <!-- Topbar Search -->


  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{this.currentUser.lastName+" "+this.currentUser.firstName}} </span>
        
        <div *ngIf="currentUser.picture!=null">   

          <img class="img-profile rounded-circle"
          src="{{'data:image/jpg;base64,'+currentUser.picture}}">
        
        </div>

      <div *ngIf="currentUser.picture==null && currentUser.sexe=='MASCULIN'">    

        <img class="img-profile rounded-circle"
        src="../../../assets/defaultPictureProfile/defaultPictureProfileMasculin.jpg">     

      </div>
      <div *ngIf="currentUser.picture==null && currentUser.sexe=='FEMININ'">         

        <img class="img-profile rounded-circle"      
        src="../../../assets/defaultPictureProfile/defaultPictureProfileMasculin.jpg">      
      
      </div>
        
        
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
           aria-labelledby="userDropdown">
        <a class="dropdown-item" [routerLink]="['/admin/users/userProfile/changeProfil']">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400" ></i>
          Profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/admin/users/logOut']" >
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" [routerLink]="['users/logOut']"></i>
          Logout
        </a>
      </div>
    </li>

  </ul>

</nav>
<!-- End of Topbar -->
