<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" style="height:100%" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../../../index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SHOPINI</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" routerLink="dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    management
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Product management </span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header"> Product management :</h6>
        <a class="collapse-item" [routerLink]="['productM']" >Main Product</a>
        <a class="collapse-item" [routerLink]="['productM/add']" >ADD Product</a>
        <a class="collapse-item" href="cards.html">Delete Product</a>
      </div>
    </div>
  </li>


  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
       aria-expanded="true" aria-controls="collapseThree">
      <i class="fas fa-fw fa-cog"></i>
      <span>Users management </span>
    </a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header"> Product management :</h6>
        <a class="collapse-item" [routerLink]="['/admin/users/listLivreur']" >Livreurs</a>
        <a class="collapse-item" [routerLink]="['/admin/users/listFournisseur']">Fournisseurs</a>
        <a class="collapse-item" [routerLink]="['/admin/users/listAdmin']" >Admin</a>
        <a class="collapse-item" [routerLink]="['/admin/users/listClient']" >Clients</a>

      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour"
       aria-expanded="true" aria-controls="collapseFour">
      <i class="fas fa-fw fa-cog"></i>
      <span>Add users </span>
    </a>
    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header"> Add users :</h6>
        <a class="collapse-item" routerLink="/admin/users/addLivreur" >Livreur</a>
        <a class="collapse-item" routerLink="/admin/users/addFournisseur']">Fournisseur</a>
        <a class="collapse-item" routerLink="/admin/users/addAdmin" >Admin</a>

      </div>
    </div>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider">









</ul>
<!-- End of Sidebar -->
