<!DOCTYPE html>
<html lang="en">


<!-- molla/index-4.html  22 Nov 2019 09:53:08 GMT -->
<head>

</head>

<body>
<div class="page-wrapper">
  <app-header></app-header>

  <main class="main">
  <!--  <app-productsad></app-productsad> -->

    <div class="mb-4"></div><!-- End .mb-4 -->

    <router-outlet></router-outlet>


  </main><!-- End .main -->

  <app-cfooter></app-cfooter>
</div><!-- End .page-wrapper -->

<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<app-mobile-version></app-mobile-version>

</body>


<!-- molla/index-4.html  22 Nov 2019 09:54:18 GMT -->
</html>
