<div class="container">
  <div class="b-container">
    <img
      style="margin-top: 15%; margin-bottom: 15%"
      src="https://image.freepik.com/vecteurs-libre/gens-multiculturels-debout-ensemble_74855-6583.jpg"
    />
  </div>
  <div class="b-container ab-text text-center">
    <h1 style="margin-top: 10%">About us</h1>
    <p>
      Shopini is a mix between two words and it does mean shop me , we are four
      talented engineers we made this project for academic purpose , please
      enjoy our features and stay safe and we will shop for you , just tell us
      what you need by a click
    </p>
  </div>
</div>
