<main id="cart" style="max-width: 960px">
  <div class="back">
    <h1 style="letter-spacing: 5px; margin-top: -50px; margin-bottom: 50px">
      Your Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </h1>
    <div class="container-fluid">
      <div class="row align-items-start">
        <div
          class="align-items-center justify-content-center d-flex"
          *ngIf="ProdInOrder.length === 0"
        >
          <i class="fa fa-times" aria-hidden="true" style="color: crimson">
            Your Cart is empty</i
          >
        </div>
        <div class="col-12 col-sm-8 items">
          <div *ngFor="let pi of ProdInOrder; let x = index">
            <!--1-->
            <div class="cartItem row align-items-start">
              <div class="col-3 mb-2">
                <img
                  class="w-100"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6NX6F4rgl3CL0liX3ZlvHRH3xBUzjiGsIsQ&usqp=CAU"
                  alt="art image"
                />
              </div>
              <div class="col-5 mb-2">
                <h6 class="">{{ pi.productName }}</h6>
                <p
                  class="pl-1 mb-0"
                  style="color: crimson"
                  [hidden]="pi.discount == 0"
                >
                  Discount :{{ 100 * pi.discount }} %
                </p>
              </div>
              <div class="col-2">
                <p class="cartItemQuantity p-1 text-center">{{ pi.qte }}</p>
              </div>
              <div class="col-2">
                <p id="cartItem1Price">${{ pi.price }}</p>
                <button
                  style="float: right; margin-right: 15px; margin-top: 10px"
                  type="button"
                  class="btn btn-outline-dark"
                  (click)="deleteProdById(pi.id)"
                >
                  delete
                </button>
              </div>
            </div>
            <hr />
          </div>
        </div>
<!-- Table for Excel -->
<table class="table" hidden id="excel-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Shipping</th>
      <th>Tax</th>
      <th>Subtotal</th>
      <th>total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{facture.id}}</td>
      <td>{{facture.shipping}}</td>
      <td >{{facture.tax}}</td>
      <td>{{facture.subtotal}}</td>
      <td >{{facture.total}}</td>

    </tr>
  
  </tbody>
</table>
<!-- End of the table  -->
        <div class="col-12 col-sm-4 p-3 proceed form" >
          <div class="row m-0">
            <div class="col-sm-8 p-0">
              <h6>Subtotal</h6>
            </div>
            <div class="col-sm-4 p-0">
              <p id="subtotal">${{ facture.subtotal }}</p>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-sm-8 p-0">
              <h6>Tax</h6>
            </div>
            <div class="col-sm-4 p-0">
              <p id="tax">${{ facture.tax }}</p>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-sm-8 p-0">
              <h6>Shipping</h6>
            </div>
            <div class="col-sm-4 p-0">
              <p id="tax">${{ facture.shipping }}</p>
            </div>
          </div>
          <hr />
          <div class="row mx-0 mb-2">
            <div class="col-sm-8 p-0 d-inline">
              <h5>Total</h5>
            </div>
            <div class="col-sm-4 p-0">
              <p id="total">${{ facture.total }}</p>
            </div>
            <div class="alert " role="alert">
              <strong><i class=" file fa fa-file-pdf-o fa-lg" aria-hidden="true" style="margin-left: 80px;" (click)="pdfDow()"></i>
              <i class="file fa fa-search fa-lg" aria-hidden="true" style="margin-left:15px ;" (click)="pdfVis()" ></i>
              <i class="file fa fa-file-excel-o fa-lg" aria-hidden="true" style="margin-left:15px ;" (click)="Excel()" ></i>
              
              </strong> <a  class="alert-link"></a>
            </div>
          </div>
          
          <a
            ><button
              id="btn-checkout"
              class="shopnow"
              (click)="payement()"
              [disabled]="facture.total == 0"
            >
              <span>Checkout</span>
            </button></a
          >

          <a
            name=""
            id=""
            class="btn btn-primary"
            role="button"
            (click)="scan()"
            [hidden]="facture.total == 0"
            >Checkout with scaning your QR code</a
          >
          <zxing-scanner
            *ngIf="!tog"
            (scanSuccess)="scanQR($event)"
          ></zxing-scanner>

          <p>
            <strong>{{ data }}</strong>
          </p>
          <div>
            <img
              [hidden]="facture.total == 0"
              [src]="im"
              style="width: 200px; height: 200px; margin-left: 40px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="container"></footer>
