<div class="contact-container" style="margin-bottom: 80px">
  <div class="left-col"></div>
  <div class="right-col" [ngClass]="!toggle ? 'day' : 'dark'">
    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" (change)="toggled()" />
        <div class="slider round"></div>
      </label>
      <div class="description">
        <p *ngIf="toggle" class="p-mode" style="color: white">Dark</p>
        <p *ngIf="!toggle" class="p-mode">Light</p>
      </div>
    </div>
    <div>
      <h1 [ngStyle]="{ border: toggle ? '1px solid crimson' : 'none' }">
        Contact us
      </h1>
      <p [ngStyle]="{ border: toggle ? '1px solid crimson' : 'none' }">
        We are available 24h,7j , we will be happy to hear from you ,SHOPINITEAM
      </p>
      <form [formGroup]="addressForm" novalidate> 
      <app-form [address]="address"></app-form>
      <div id="error"></div>
      <div id="success-msg"></div>
    <button type="button" class="btn btn-outline-dark"(click)="sub()" [disabled]="addressForm.invalid" >Submit</button>
    </form>
      
    </div>
  </div>
</div>
