<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="row">
<div class="col-sm-12">
<h1>Change Your Password</h1>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">

    <form [formGroup]="changePasswordClientForm" (ngSubmit)="changePasswordClient()">
        <input type="password" class="input-lg form-control" formControlName="password" name="password" placeholder="New Password" autocomplete="off">
<div class="row">

<div class="col-sm-6">

    <div *ngIf=" f.password?.touched &&(f.password?.errors?.['required']||f.password?.errors?.pattern)"
                        class="alert alert-danger">

                        <div *ngIf=" f.password?.errors?.['required']">
                            <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter and 1 number<br>

                        </div>
                        <div *ngIf="f.password?.errors?.pattern">
                            <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter and 1 number<br>

                        </div>
                    </div>
</div>

</div>
<input type="password" class="input-lg form-control"  placeholder="Repeat Password" autocomplete="off" formControlName="confirmPassword" name="confirmPassword">
<ngx-recaptcha2 #captchaElem [siteKey]="captchaKey" formControlName="reCaptcha">
</ngx-recaptcha2>

<div *ngIf=" !resultChangePassword " class="alert alert-danger">
    Password Already used       
</div>
<button [disabled]="!changePasswordClientForm.valid" type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"  >Change your password</button>  
</form>
</div><!--/col-sm-6-->
</div><!--/row-->
</div>