<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
    <hr>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account Livreur</h4>
            <!-- <p class="text-center">Get started with your free account</p>
	<p>
		<a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
		<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
	</p>
	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p> -->
            <form [formGroup]="addLivreurForm" (ngSubmit)="addLivreurSubmit()">

                <!-- First Name -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="firstName" class="form-control" placeholder="First name" type="text"
                        formControlName="firstName">
                    <div *ngIf=" f.firstName?.touched && f.firstName?.errors?.['required']" class="alert alert-danger">
                        First name is required
                    </div>

                </div> <!-- End First Name -->
                <!-- Last Name -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="lastName" class="form-control" placeholder="Last name" type="text"
                        formControlName="lastName">
                    <div *ngIf=" f.lastName?.touched && f.lastName?.errors?.['required']" class="alert alert-danger">
                        Last name is required
                    </div>
                </div> <!-- End Last Name -->

                <!-- Email Address -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" class="form-control" placeholder="Email address" type="email"
                        formControlName="email" uniqueEmail>
                        <div *ngIf="emailExist" class="alert alert-danger">{{emailExist}}</div>

                    <div *ngIf=" f.email?.touched &&(f.email?.errors?.['required'] ||f.email?.errors?.pattern)" 
  
                    class="alert alert-danger">
                        <div *ngIf="f.email?.errors?.['required']">
                            Email is required
                        </div>
                        <div *ngIf="f.email?.errors?.pattern">
                            verif your email
                        </div>
                       
                    </div>
                </div> <!-- End Email Address -->
                
                <!-- Phone number -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>


                    <select class="custom-select" style="max-width: 120px;">
                        <option selected="">+216</option>

                    </select>
                    <input class="form-control" placeholder="Phone number" type="text" formControlName="tel">

                    <div *ngIf=" f.tel?.touched &&(f.tel?.errors?.['required']||f.tel?.errors?.pattern)"
                        class="alert alert-danger">

                        <div *ngIf=" f.tel?.errors?.['required']">
                            Number is required
                        </div>
                        <div *ngIf="f.tel?.errors?.pattern">
                            Verif your number
                        </div>
                    </div>
                </div> <!-- End Phone number -->
               
                <!--Sexe-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-neuter "></i> </span>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> </div>

                        <div class="form-check" class="col-md-5">
                            <input class="form-check-input" type="radio" name="sexe" id="flexRadioDefault1"
                                value="MASCULIN" checked formControlName="sexe">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Masculin
                            </label>
                        </div>
                        <div class="form-check" class="col-md-5">
                            <input class="form-check-input" type="radio" name="sexe" id="flexRadioDefault2"
                                value="FEMININ" formControlName="sexe">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Feminin
                            </label>
                        </div>
                    </div>

                </div>

                <!--End Sexe-->

                <!-- First Name -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="pourcentage" class="form-control"  maxlength='3' placeholder="Percentage %" type="text" min='0' max='100'
                        formControlName="pourcentage">
                    <div *ngIf=" f.pourcentage?.touched && f.pourcentage?.errors?.['required']" class="alert alert-danger">
                        Percentage is required
                    </div>

                </div> <!-- End First Name -->
               
                <!--reCaptcha-->
                <ngx-recaptcha2 #captchaElem [siteKey]="captchaKey" formControlName="reCaptcha">
                </ngx-recaptcha2>
                <!--End reCaptcha-->
                <div class="form-group">
                    <button type="submit" [disabled]="!addLivreurForm.valid">Create Account</button>

                </div> <!-- form-group// -->

            </form>
        </article>
    </div> <!-- card.// -->

</div>


<!--container end.//-->

<br><br>