<!-- Footer -->
<footer class="page-footer font-small elegant-color">
  <!-- Footer Links -->
  <div class="container text-center text-md-left pt-4 pt-md-5">
    <!-- Grid row -->
    <div class="row mt-1 mt-md-0 mb-4 mb-md-0">
      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
        <!-- Links -->
        <h5>About me</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60" />

        <p class="foot-desc mb-0">
          Shopini is an e-commerce website that can facilitate shoping and offer
          better quality with best price
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
        <!-- Links -->
        <h5>Products</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60" />

        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <a href="#!">Food</a>
          </li>
          <li class="mb-2">
            <a href="#!"> hardware store</a>
          </li>
          <li class="mb-2">
            <a href="#!"> home appliance</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
        <!-- Links -->
        <h5>Useful links</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60" />

        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <a href="#!">Your Account</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
        <!-- Links -->
        <h5>Contacts</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60" />

        <ul class="fa-ul foot-desc ml-4">
          <li class="mb-2">
            <span class="fa-li"><i class="far fa-map"></i></span> 18, rue de
            l'Usine - ZI Aéroport Charguia II 2035 Ariana
          </li>
          <li class="mb-2">
            <span class="fa-li"><i class="fas fa-phone-alt"></i></span
            >(+216)54-155-657
          </li>
          <li class="mb-2">
            <span class="fa-li"><i class="far fa-envelope"></i></span
            >aymen.zeidi@esprit.tn
          </li>
          <li>
            <span class="fa-li"><i class="far fa-clock"></i></span>Monday -
            Friday: 10-17
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright:
    <a href="https://mdbootstrap.com/"> Shopini.tn</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
