<section class="vh-100" style="margin-top:10%;">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form [formGroup]="loginForm" (ngSubmit)="login()">         
  
      
  
            <!-- Email input -->
            <div class="form-outline mb-3">
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" formControlName="email"/>
              <label class="form-label" for="form3Example3">Email address</label>
              <div style="color: red;" *ngIf=" f.email?.touched && f.email?.errors?.['required']" >
                Email is required!
            </div>
            </div>
           
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" formControlName="password" />
              <label class="form-label" for="form3Example4">Password</label>
              <div style="color: red;" *ngIf=" f.password?.touched && f.password?.errors?.['required']" >
                Password is required!
            </div>
            </div>
            <div *ngIf="loginResult " class="alert alert-danger">{{loginResult}}</div>
  
            <div class="d-flex justify-content-between align-items-center">
              
              <a [routerLink]="['forgetPasswordEmailForm']" class="text-body">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="!loginForm.valid"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a [routerLink]="['/client/addClient']"
                  class="link-danger" [routerLink]="['/register']">Register</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
 
  </section>