<div class="container">
    <h2> {{fournisseurs.length}} fournisseurs</h2>
    <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab w-auto"  >
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Sexe</th>
                    <th>Tel</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Changer Status</th>



                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fournisseur of fournisseurs;let i = index">
                    <td>{{i}}</td>
                    <td>{{fournisseur.firstName}}</td>
                    <td>{{fournisseur.lastName}}</td>
                    <td>{{fournisseur.email}}</td>
                    <td>{{fournisseur.sexe}}</td>
                    <td>{{fournisseur.tel}}</td>
                    <td>{{fournisseur.address}}</td>
                    <td>{{fournisseur.accountStatus}}</td>
                    <td> 
                        <button type="button" class="btn btn-light" (click)="verifUserOrNot(fournisseur.email)">

                            Change</button>

                        
                    </td>



                  



                </tr>
            </tbody>
        </table>
    </div>
</div>