

<a class="collapse-item" [routerLink]="['add']" >ADD Product</a>
<p>main-product works!</p>
        <div *ngFor="let p of ListProduct" >
          {{p.idProduit }}
          {{p.code }}
          {{p.libelle }}
          {{p.picture }}
          {{p.prixUnitaire }}
          ***
          {{p.detailProduit.idDetailProduit }}
          {{p.detailProduit.dateCreation }}
          {{p.detailProduit.dateLimiteConsommation }}
          {{p.detailProduit.dateDerniereModification }}
          {{p.detailProduit.categorieProduit }}
          {{p.detailProduit.quantite }}
          ***
          {{p.fournisseur.id }}
          {{p.fournisseur.firstName }}
          {{p.fournisseur.lastName }}
          {{p.fournisseur.role }}
          <a class="collapse-item" [routerLink]="['update/',p.idProduit]" >modify </a>
          <a class="collapse-item" [routerLink]="['remove/',p.idProduit]" >delete </a>
        </div>



