<form>
    
    <div class="container">
        <div class="row">
        <div class="col-sm-12">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input [formControl]="email"type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>   


    
    
    <button (click)="forgetPasswordRequest()" type="submit" [disabled]="(email.errors?.['email'] || email.errors?.['required'])" class="btn btn-primary">Submit</button>
</div>
</div>
</div>
  </form>


  