<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <app-topbar></app-topbar>
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">Liste des reclamations</h1>
    
            <table class="table-responsive">
                <thead>
                    <th>Content</th>
                    <th>Categorie</th>
                    <th>User</th>
                    <th>Date de creation</th>
                    <th>Date de modification</th>
                    <th>Status</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let recl of list ">
                        <td>{{recl.content}}</td>
                        <td>{{recl.categorie}}</td>
                        <td>{{recl.user}}</td>
                        <td>{{recl.createdAt}}</td>
                        <td>{{recl.modifiedAt}}</td>
                        <td>{{recl.status}}</td>
                        <td><button type="submit" (click)="getRecl(recl)" >update</button></td>
                        <td><button type="submit" (click)="delete(recl.id)" >delete</button></td>

                    </tr>
                    <div *ngIf="show==true">
                    <app-update-reclamation [reclamation]="recl"  ></app-update-reclamation>
                    </div>
                </tbody>
            </table>
    
          </div>
          <!-- /.container-fluid -->
         
        </div>
        <!-- End of Main Content -->
        <app-footer></app-footer>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->