<div class="container">
    <div class="row">
    <div class="col-sm-12">
<div class="form-group">
  <label for="exampleInputEmail1">a verification was sent to your number to +216{{this.phoneNumber}}</label>
  <input   maxlength='5'name ="tel" [(ngModel)]="tel" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter code">
  <small id="emailHelp" class="form-text text-muted">We'll never share your number with anyone else.</small>
  <div *ngIf=" !resultVerificationCode " class="alert alert-danger">
    inccorect code        
</div>

</div>   



<button (click)="confirmCode()" type="submit"  [disabled]="tel=='' " class="btn btn-primary">Submit</button>
    
</div>
</div>
</div>



