<div id="navnav">
  <div class="info">
    <span style="margin-left: 50px; font-weight: bold; margin-top: 0"
      >Tèl :(++216) 54 155 657</span
    >
    <span style="margin-left: 650px; font-weight: bold; margin-top: 0">
      Adresse : 18, rue de l'Usine - ZI Aéroport Charguia II 2035 Ariana</span
    >
  </div>
  <header style="display: flex">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <nav class="navbar navbar-expand-xl navbar-light">
            <div class="container-fluid">
              <a routerLink="/client/home" class="navbar-brand"
                ><img
                  src="https://ak.picdn.net/shutterstock/videos/1013366360/thumb/5.jpg?ip=x480"
                  alt="logo"
                  class="img-fluid bg-white"
                  style="height: 40px; border-radius: 35%"
              /></a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      routerLink="/client/home"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/client/aboutUs"
                      >About us</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/client/delivery"
                      >delivery</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/client/contact">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/client/product">product</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>

        <div class="col-lg-4 col-md-3">
          <div class="header-search mt-2">
            <div class="search-form">
              <form method="get">
                <div class="input-group">
                  <div class="select-style">
                    <select name="order">
                      <option class="topshow" value="1">All</option>
                      <option value="a">Food</option>
                      <option value="b">home appliance</option>
                      <option value="c">hardware store</option>
                    </select>
                  </div>
                  <input
                    type="text"
                    name="search"
                    id="search"
                    class="form-control"
                    placeholder="Search Here"
                  />
                  <div class="input-group-addon">
                    <button type="submit"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 cart-login">
          <div class="cart mt-2">
            <a routerLink="/client/cart">
              <span class="number" style="margin-right: 8px; color: #ffffff">{{
                nb
              }}</span>
              <img
                class="img-fluid"
                src="https://www.markuptag.com/images/cart.png"
                alt="cart"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div style="position: absolute; top: 40px; right: 20px">
      <li class="nav-item dropdown">
        <a
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            style="border-radius: 50%; border: 10px solid white"
            src="https://scontent.ftun9-1.fna.fbcdn.net/v/t1.6435-9/78146386_597218524349088_2487744185688391680_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=174925&_nc_ohc=Ie1Z-T8mOQYAX_SvHHz&_nc_ht=scontent.ftun9-1.fna&oh=1d8681aeeb5ce6d9ffd60c64493fcd5a&oe=61C4C824 "
            style="width: 40px; border-radius: 100%"
          />
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" routerLink="/client/home">Edit account</a>
          </li>
          <li>
            <a class="dropdown-item">
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
        </ul>
      </li>
    </div>
  </header>
</div>
