

<div class="container w-100">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <!-- <p class="text-center">Get started with your free account</p>
	<p>
		<a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
		<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
	</p>
	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p> -->
            <form [formGroup]="addClientForm" (ngSubmit)="addClientSubmit()">

                <!-- First Name -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="firstName" class="form-control" placeholder="First name" type="text"
                        formControlName="firstName">
                    <div *ngIf=" f.firstName?.touched && f.firstName?.errors?.['required']" class="alert alert-danger">
                        First name is required
                    </div>

                </div> <!-- End First Name -->
                <!-- Last Name -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="lastName" class="form-control" placeholder="Last name" type="text"
                        formControlName="lastName">
                    <div *ngIf=" f.lastName?.touched && f.lastName?.errors?.['required']" class="alert alert-danger">
                        Last name is required
                    </div>
                </div> <!-- End Last Name -->

                <!-- Email Address -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" class="form-control" placeholder="Email address" type="email"
                        formControlName="email" uniqueEmail>
                        <div *ngIf="emailExist" class="alert alert-danger">{{emailExist}}</div>

                    <div *ngIf=" f.email?.touched &&(f.email?.errors?.['required'] ||f.email?.errors?.pattern)" 
  
                    class="alert alert-danger">
                        <div *ngIf="f.email?.errors?.['required']">
                            Email is required
                        </div>
                        <div *ngIf="f.email?.errors?.pattern">
                            verif your email
                        </div>
                       
                    </div>
                </div> <!-- End Email Address -->
                <!-- Password -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="password" class="form-control" placeholder="Create password" type="password"
                        formControlName="password">

                    <div *ngIf=" f.password?.touched &&(f.password?.errors?.['required']||f.password?.errors?.pattern)"
                        class="alert alert-danger">

                        <div *ngIf=" f.password?.errors?.['required']">
                            Password is required
                        </div>
                        <div *ngIf="f.password?.errors?.pattern">
                            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter
                            and 1 number
                        </div>
                    </div>

                </div> <!-- End Password -->
                <!-- Repeat Password -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input formControlName="confirmPassword" class="form-control" placeholder="Repeat password"
                        type="password">

                    <div *ngIf=" f.confirmPassword?.touched &&(f.password?.errors?.['required']||f.confirmPassword?.errors?.mustMatch) "
                        class="alert alert-danger">

                        <div *ngIf=" f.confirmPassword?.errors?.['required']">
                            Confirm your password
                        </div>
                        <div *ngIf="f.confirmPassword?.errors?.mustMatch">
                            Password does not match
                        </div>
                    </div>

                </div> <!-- End Repeat Password -->
                <!-- Phone number -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>


                    <select class="custom-select" style="max-width: 120px;">
                        <option selected="">+216</option>

                    </select>
                    <input class="form-control" placeholder="Phone number" type="text" formControlName="tel">

                    <div *ngIf=" f.tel?.touched &&(f.tel?.errors?.['required']||f.tel?.errors?.pattern)"
                        class="alert alert-danger">

                        <div *ngIf=" f.tel?.errors?.['required']">
                            Number is required
                        </div>
                        <div *ngIf="f.tel?.errors?.pattern">
                            Verif your number
                        </div>
                    </div>
                </div> <!-- End Phone number -->
                <!-- Profession -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                    <select class="form-control" formControlName="profession">
                        <option selected="">DOCTEUR</option>
                        <option >INGENIEUR</option>
                        <option>ETUDIANT</option>
                        <option>COMMERCIAL</option>
                        <option>CADRE</option>
                        <option>AUTRE</option>

                    </select>
                </div> <!-- End Profession -->
                <!--Sexe-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-neuter "></i> </span>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> </div>

                        <div class="form-check" class="col-md-5">
                            <input class="form-check-input" type="radio" name="sexe" id="flexRadioDefault1"
                                value="MASCULIN" checked formControlName="sexe">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Masculin
                            </label>
                        </div>
                        <div class="form-check" class="col-md-5">
                            <input class="form-check-input" type="radio" name="sexe" id="flexRadioDefault2"
                                value="FEMININ" formControlName="sexe">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Feminin
                            </label>
                        </div>
                    </div>

                </div>

                <!--End Sexe-->
                <!--Picture-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-picture-o"></i> </span>
                    </div>
                    <input (change)="onSelectFile($event)" name="picture" type="file" class="form-control" id="customFile" formControlName="picture" />
                    <img [src]="imgURL" width="35px" height="35px" alt="">
                </div>
                <!--End Picture-->
                <!--reCaptcha-->
                <ngx-recaptcha2 #captchaElem [siteKey]="captchaKey" formControlName="reCaptcha">
                </ngx-recaptcha2>
                <!--End reCaptcha-->
                <div class="form-group">
                    <button type="submit" [disabled]="!addClientForm.valid">Create Account</button>

                </div> <!-- form-group// -->

                <p class="text-center">Have an account? <a href="">Log In</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>


<!--container end.//-->

<br><br>